body {
  margin: 0;
  background-color: #161a21;
  font-family: monospace, sans-serif;
  font-size: 14px;
}
#code-editor {
  max-height: calc(75vh - 56px);
  overflow: auto;
}
#code-editor .cm-scroller {
  min-height: 50vh;
}
a {
  color: white;
  padding: 10px 20px;
  border-radius: 2px;
  cursor: pointer;
  background-color: #282c34;
  border: none;
  border: 1px solid #41454c;
  text-shadow: 1px 1px 0px #0c4110;
  transition: background-color 0.2s;
  margin-right: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
#run {
  background-color: #3e673e;
  border: 1px solid #618767;
}
a:hover {
  filter: brightness(1.1);
}
a:active {
  filter: brightness(0.9);
}
#buttons {
  display: flex;
  padding: 10px 0 10px 10px;
  background-color: #161a21;
  position: sticky;
  top: 0;
  z-index: 1;
}
.active.mode {
  pointer-events: none;
  background: #efefef;
  color: #161a21;
  text-shadow: none;
  border: 1px solid white;
}
.terminal {
  color: white;
  padding: 10px;
  font-family: monospace;
  white-space: pre;
  line-height: 1.5em;
  box-sizing: border-box;
}
.error {
  color: #fe6262;
}
#code-editor::before {
  content: 'LOADING...';
  text-align: center;
  color: white;
  margin-top: 25vh;
  display: block;
}
.loaded #code-editor::before {
  display: none;
}

.menu-toggle {
  display: none;
}

.nav {
  font-size: 0;
}

@media (max-width: 460px) {
  .menu-toggle {
    position: fixed;
    z-index: 2;
    top: 18px;
    right: 18px;
    padding: 0;
    margin: 0;
    width: 27px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    height: 25px;
    outline: none;
    cursor: pointer;
    background: none;
    display: block;
  }

  .menu {
    width: 27px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 18px 18px 10px 10px;
    z-index: 2;
    pointer-events: none;
  }

  .menu .bar {
    background-color: #e8e8e8;
    height: 4px;
    margin-bottom: 4px;
    box-shadow: 0px 4px 0px rgba(0,0,0,.15);
    -moz-box-shadow: 0px 4px 0px rgba(0,0,0,.15);
    -webkit-box-shadow: 0px 4px 0px rgba(0,0,0,.15);
  }

  .nav {
    font-size: 10pt;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    right: -200px;
    padding-top: 46px;
    height: 100%;
    z-index: 2;
    width: 200px;
    min-width: 101px;
    box-sizing: border-box;
  }

  .nav div {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    pointer-events: auto;
    height: 100%;
    margin-right: -16px;
    overflow: hidden;
  }

  .nav a {
    display: block;
    margin: 10px;
    text-align: center;
    pointer-events: auto;
  }

  .menu-toggle:checked {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .menu-toggle:checked + .nav {
    visibility: visible;
    opacity: 1;
    right: 0;
  }
}
#modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  text-align: center;
  padding-top: 20vh;
  box-sizing: border-box;
  color: white;
  transition: opacity 0.2s;
  pointer-events: none;
  opacity: 0;
}
#modal.visible {
  opacity: 1;
}
#modal ul {
  display: inline-block;
}

.line-wrap {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
  margin: auto 10px auto auto;
}

.line-wrap input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #404a5f;
  transition: 0.2s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.2s;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.slider:after {
  content: "WRAP";
  color: white;
  display: block;
  position: absolute;
  z-index: 1;
  font-size: 10px;
  left: 27px;
  top: 4px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  transition: left 0.2s;
}

input:checked + .slider {
  background-color: #5d4efd;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5d4efd;
}

input:checked + .slider:before {
  transform: translateX(35px);
}

input:checked + .slider:after {
  left: 9px;
}